# 국가(대륙)별/상품군별 온라인 쇼핑 해외직접판매액

## K-Beauty는 성장하고 있을까? 해외 직접판매액를 한다면 어느 국가로 판매전략을 세우면 좋을까?
e:추정치, p:잠정치, -:자료없음, ...:미상자료, x:비밀보호, ∇:시계열 불연(단위: 백만원)

# 필요한 라이브러리 가져오기

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import os
if os.name == 'posix':
    plt.rc("font", family="AppleGothic")
else:
    plt.rc("font", family="Malgun Gothic")

# 마이너스 폰트 깨지는 문제
plt.rc("axes", unicode_minus=False)

# 레티나 설정ㅇ으로 글씨가 선명하게 
%config lnlineBackend.figure_format = 'retina'

# 데이터 로드

In [16]:
df_raw=pd.read_csv("온라인쇼핑.csv", encoding="cp949")
print(df_raw.shape)
df_raw.head(50)

(450, 27)

,국가(대륙)별,상품군별,판매유형별,2014 1/4,2014 2/4,2014 3/4,2014 4/4,2015 1/4,2015 2/4,2015 3/4,...,2017 3/4,2017 4/4,2018 1/4,2018 2/4,2018 3/4,2018 4/4,2019 1/4,2019 2/4,2019 3/4,2019 4/4
0,합계,합계,계,148272,153641,163999,213216,269101,271784,268421,...,749612,858240,833672,897205,921586,974060,1250236,1344404,1525396,1879499
1,합계,합계,면세점,-,-,-,-,-,-,-,...,610630,677884,665613,725319,761836,770656,1070693,1157158,1336372,1655635
2,합계,합계,면세점 이외,-,-,-,-,-,-,-,...,138982,180356,168059,171886,159750,203404,179543,187246,189024,223864
3,합계,컴퓨터 및 주변기기,계,4915,4052,3912,3529,2903,2697,3804,...,2018,2158,5236,3854,4320,4511,3702,4038,3670,3826
4,합계,컴퓨터 및 주변기기,면세점,-,-,-,-,-,-,-,...,5,1,2,6,1,215,2,0,1,70
5,합계,컴퓨터 및 주변기기,면세점 이외,-,-,-,-,-,-,-,...,2013,2157,5234,3848,4319,4296,3700,4038,3669,3756
6,합계,가전·전자·통신기기,계,13259,13824,13560,14200,13399,13587,12857,...,19113,21696,25635,28160,27358,18073,21429,22798,25419,24131
7,합계,가전·전자·통신기기,면세점,-,-,-,-,-,-,-,...,9006,12680,18038,21188,20481,11104,14072,15843,17370,15478
8,합계,가전·전자·통신기기,면세점 이외,-,-,-,-,-,-,-,...,10107,9016,7597,6972,6877,6969,7357,6955,8049,8653
9,합계,소프트웨어,계,361,330,372,595,807,484,591,...,98,316,244,379,313,408,150,228,144,387
10,합계,소프트웨어,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,0,0
11,합계,소프트웨어,면세점 이외,-,-,-,-,-,-,-,...,98,316,244,379,313,408,150,228,144,387
12,합계,서 적,계,1563,1231,1721,1656,1819,1710,2250,...,6556,6469,6193,7077,7434,7647,6357,6081,5727,6107
13,합계,서 적,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,0,0
14,합계,서 적,면세점 이외,-,-,-,-,-,-,-,...,6556,6469,6193,7077,7434,7647,6357,6081,5727,6107
15,합계,사무·문구,계,2094,1756,6035,8486,1577,1082,1188,...,2211,1216,1111,1054,1155,1021,1603,1450,1577,1268
16,합계,사무·문구,면세점,-,-,-,-,-,-,-,...,7,0,2,0,1,0,5,7,10,8
17,합계,사무·문구,면세점 이외,-,-,-,-,-,-,-,...,2204,1216,1109,1054,1154,1021,1598,1443,1567,1260
18,합계,음반·비디오·악기,계,5427,5485,6135,5259,5228,7851,6636,...,11110,10487,9346,12446,15905,21945,15193,23557,23784,26899
19,합계,음반·비디오·악기,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,0,0
20,합계,음반·비디오·악기,면세점 이외,-,-,-,-,-,-,-,...,11110,10487,9346,12446,15905,21945,15193,23557,23784,26899
21,합계,의류 및 패션 관련상품,계,44868,40464,39403,49622,57995,57089,61260,...,103080,122622,135287,140895,129694,122910,125791,146406,141347,151062
22,합계,의류 및 패션 관련상품,면세점,-,-,-,-,-,-,-,...,47642,48785,58686,64583,62307,42279,47046,69090,72555,74266
23,합계,의류 및 패션 관련상품,면세점 이외,-,-,-,-,-,-,-,...,55438,73837,76601,76312,67387,80631,78745,77316,68792,76796
24,합계,스포츠·레저용품,계,2992,2490,2496,2629,2822,2834,2959,...,3681,4014,3827,4065,3691,3682,4033,4244,6468,3745
25,합계,스포츠·레저용품,면세점,-,-,-,-,-,-,-,...,0,0,0,0,1,3,4,0,0,0
26,합계,스포츠·레저용품,면세점 이외,-,-,-,-,-,-,-,...,3681,4014,3827,4065,3690,3679,4029,4244,6468,3745
27,합계,화장품,계,46002,56762,62722,91492,141766,148686,142540,...,569631,646114,604771,658878,694831,751804,1033586,1097379,1276592,1610022
28,합계,화장품,면세점,-,-,-,-,-,-,-,...,547625,606157,577245,628490,668249,706928,1000553,1063855,1239233,1557171
29,합계,화장품,면세점 이외,-,-,-,-,-,-,-,...,22006,39957,27526,30388,26582,44876,33033,33524,37359,52851
30,합계,아동·유아용품,계,2268,2290,2557,3064,4240,3656,3601,...,4211,4467,4274,4756,5008,5627,4514,5014,3972,5609
31,합계,아동·유아용품,면세점,-,-,-,-,-,-,-,...,255,90,141,366,295,132,383,298,93,128
32,합계,아동·유아용품,면세점 이외,-,-,-,-,-,-,-,...,3956,4377,4133,4390,4713,5495,4131,4716,3879,5481
33,합계,음·식료품,계,6854,7988,6318,11649,11248,11224,8951,...,6916,11051,12430,11322,10883,11417,11175,9367,8746,10423
34,합계,음·식료품,면세점,-,-,-,-,-,-,-,...,5820,9716,11087,10086,9816,9679,8335,7707,6859,8264
35,합계,음·식료품,면세점 이외,-,-,-,-,-,-,-,...,1096,1335,1343,1236,1067,1738,2840,1660,1887,2159
36,합계,농축수산물,계,3464,3485,3526,5222,5299,4882,5242,...,36,33,61,57,40,56,25,39,22,40
37,합계,농축수산물,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,0,0
38,합계,농축수산물,면세점 이외,-,-,-,-,-,-,-,...,36,33,61,57,40,56,25,39,22,40
39,합계,생활용품 및 자동차용품,계,7233,7055,7548,8173,11973,8022,9347,...,10399,14829,11471,10644,8241,10747,9974,10090,13179,15463
40,합계,생활용품 및 자동차용품,면세점,-,-,-,-,-,-,-,...,15,5,4,0,3,5,105,124,114,86
41,합계,생활용품 및 자동차용품,면세점 이외,-,-,-,-,-,-,-,...,10384,14824,11467,10644,8238,10742,9869,9966,13065,15377
42,합계,기 타,계,6972,6429,7694,7640,8025,7980,7195,...,10552,12768,13786,13618,12713,14212,12704,13713,14749,20517
43,합계,기 타,면세점,-,-,-,-,-,-,-,...,255,450,408,600,682,311,188,234,137,164
44,합계,기 타,면세점 이외,-,-,-,-,-,-,-,...,10297,12318,13378,13018,12031,13901,12516,13479,14612,20353
45,미국,합계,계,25773,22573,21288,26729,39945,26654,28647,...,41927,53209,42679,40207,37631,48978,40918,44861,55386,53848
46,미국,합계,면세점,-,-,-,-,-,-,-,...,9469,12177,5184,3603,2317,2079,2657,2951,1818,1481
47,미국,합계,면세점 이외,-,-,-,-,-,-,-,...,32458,41032,37495,36604,35314,46899,38261,41910,53568,52367
48,미국,컴퓨터 및 주변기기,계,2216,1666,1776,1675,1469,1393,2166,...,791,854,2033,1553,1784,1774,1298,1408,1653,1382
49,미국,컴퓨터 및 주변기기,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,1,0,0,0,0

In [3]:
# 국가(대륙)별 데이터 빈도수 세기

df_raw.columns
df_raw["국가(대륙)별"].value_counts()

일본            45
기타            45
중동            45
합계            45
미국            45
유럽연합(EU)      45
대양주           45
중남미           45
중국            45
아세안(ASEAN)    45
Name: 국가(대륙)별, dtype: int64

In [4]:
# 미국 데이터만 따로 보기

# boolean 인덱싱
df_raw["국가(대륙)별"] == "미국"

df_raw[df_raw["국가(대륙)별"] == "미국"]

,국가(대륙)별,상품군별,판매유형별,2014 1/4,2014 2/4,2014 3/4,2014 4/4,2015 1/4,2015 2/4,2015 3/4,...,2017 3/4,2017 4/4,2018 1/4,2018 2/4,2018 3/4,2018 4/4,2019 1/4,2019 2/4,2019 3/4,2019 4/4
45,미국,합계,계,25773,22573,21288,26729,39945,26654,28647,...,41927,53209,42679,40207,37631,48978,40918,44861,55386,53848
46,미국,합계,면세점,-,-,-,-,-,-,-,...,9469,12177,5184,3603,2317,2079,2657,2951,1818,1481
47,미국,합계,면세점 이외,-,-,-,-,-,-,-,...,32458,41032,37495,36604,35314,46899,38261,41910,53568,52367
48,미국,컴퓨터 및 주변기기,계,2216,1666,1776,1675,1469,1393,2166,...,791,854,2033,1553,1784,1774,1298,1408,1653,1382
49,미국,컴퓨터 및 주변기기,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,1,0,0,0,0
50,미국,컴퓨터 및 주변기기,면세점 이외,-,-,-,-,-,-,-,...,791,854,2033,1553,1784,1773,1298,1408,1653,1382
51,미국,가전·전자·통신기기,계,2875,2758,2894,3527,4397,3589,2982,...,2575,2394,1737,1716,1723,1886,1845,1837,3166,1785
52,미국,가전·전자·통신기기,면세점,-,-,-,-,-,-,-,...,29,32,65,38,72,52,66,116,107,49
53,미국,가전·전자·통신기기,면세점 이외,-,-,-,-,-,-,-,...,2546,2362,1672,1678,1651,1834,1779,1721,3059,1736
54,미국,소프트웨어,계,47,57,49,128,182,113,163,...,37,125,175,251,172,269,88,156,118,338
55,미국,소프트웨어,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,0,0
56,미국,소프트웨어,면세점 이외,-,-,-,-,-,-,-,...,37,125,175,251,172,269,88,156,118,338
57,미국,서 적,계,962,720,934,1006,1074,837,993,...,1876,1856,2089,1790,2033,1977,2259,1563,2596,1720
58,미국,서 적,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,0,0
59,미국,서 적,면세점 이외,-,-,-,-,-,-,-,...,1876,1856,2089,1790,2033,1977,2259,1563,2596,1720
60,미국,사무·문구,계,25,10,14,18,568,17,32,...,30,79,58,55,85,83,198,72,83,101
61,미국,사무·문구,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,0,0
62,미국,사무·문구,면세점 이외,-,-,-,-,-,-,-,...,30,79,58,55,85,83,198,72,83,101
63,미국,음반·비디오·악기,계,787,720,722,821,849,781,827,...,2281,2647,2362,3014,3932,4550,3857,5191,5762,4786
64,미국,음반·비디오·악기,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,0,0
65,미국,음반·비디오·악기,면세점 이외,-,-,-,-,-,-,-,...,2281,2647,2362,3014,3932,4550,3857,5191,5762,4786
66,미국,의류 및 패션 관련상품,계,9810,7801,6404,9208,8602,6927,8055,...,11173,14483,11815,12169,10233,13658,12257,13571,13243,15964
67,미국,의류 및 패션 관련상품,면세점,-,-,-,-,-,-,-,...,148,129,116,154,134,118,110,115,95,91
68,미국,의류 및 패션 관련상품,면세점 이외,-,-,-,-,-,-,-,...,11025,14354,11699,12015,10099,13540,12147,13456,13148,15873
69,미국,스포츠·레저용품,계,573,539,475,491,541,527,481,...,874,1121,1181,1439,1200,1072,1152,1602,3149,858
70,미국,스포츠·레저용품,면세점,-,-,-,-,-,-,-,...,0,0,0,0,1,3,4,0,0,0
71,미국,스포츠·레저용품,면세점 이외,-,-,-,-,-,-,-,...,874,1121,1181,1439,1199,1069,1148,1602,3149,858
72,미국,화장품,계,3740,3713,3399,4595,11223,6176,7061,...,15997,22310,13909,11219,9717,15738,10817,11310,13999,13494
73,미국,화장품,면세점,-,-,-,-,-,-,-,...,9202,11913,4927,3311,2028,1780,2366,2647,1550,1271
74,미국,화장품,면세점 이외,-,-,-,-,-,-,-,...,6795,10397,8982,7908,7689,13958,8451,8663,12449,12223
75,미국,아동·유아용품,계,583,546,499,610,1099,603,619,...,592,722,766,793,730,1056,815,1153,1702,1928
76,미국,아동·유아용품,면세점,-,-,-,-,-,-,-,...,1,0,1,0,2,0,0,0,0,0
77,미국,아동·유아용품,면세점 이외,-,-,-,-,-,-,-,...,591,722,765,793,728,1056,815,1153,1702,1928
78,미국,음·식료품,계,381,415,405,673,577,628,631,...,417,265,277,311,239,278,336,313,602,424
79,미국,음·식료품,면세점,-,-,-,-,-,-,-,...,89,103,75,100,80,125,111,73,64,70
80,미국,음·식료품,면세점 이외,-,-,-,-,-,-,-,...,328,162,202,211,159,153,225,240,538,354
81,미국,농축수산물,계,94,98,111,160,189,192,193,...,0,2,1,0,0,33,2,2,7,2
82,미국,농축수산물,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,0,0
83,미국,농축수산물,면세점 이외,-,-,-,-,-,-,-,...,0,2,1,0,0,33,2,2,7,2
84,미국,생활용품 및 자동차용품,계,1931,1915,1815,1871,6605,2189,2207,...,2349,2276,2483,2357,2150,2159,2174,2410,3409,3713
85,미국,생활용품 및 자동차용품,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,2,0
86,미국,생활용품 및 자동차용품,면세점 이외,-,-,-,-,-,-,-,...,2349,2276,2483,2357,2150,2159,2174,2410,3407,3713
87,미국,기 타,계,1749,1615,1791,1946,2570,2682,2237,...,2935,4075,3793,3540,3633,4445,3820,4273,5897,7353
88,미국,기 타,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,0,0
89,미국,기 타,면세점 이외,-,-,-,-,-,-,-,...,2935,4075,3793,3540,3633,4445,3820,4273,5897,7353

# 분석과 시각화를 위한 tidy data 만들기

In [8]:
df_raw.columns

Index(['국가(대륙)별', '상품군별', '판매유형별', '2014 1/4', '2014 2/4', '2014 3/4',
       '2014 4/4', '2015 1/4', '2015 2/4', '2015 3/4', '2015 4/4', '2016 1/4',
       '2016 2/4', '2016 3/4', '2016 4/4', '2017 1/4', '2017 2/4', '2017 3/4',
       '2017 4/4', '2018 1/4', '2018 2/4', '2018 3/4', '2018 4/4', '2019 1/4',
       '2019 2/4', '2019 3/4', '2019 4/4'],
      dtype='object')

In [14]:
#id_vars로 인덱스 컬럼을 지정하고, value_vars로 열(컬럼)을 행(row)로 바꾼다 

df_raw.melt?

In [13]:
# id_vars에 들어가지 않는 컬럼은 value_vars에 자동으로 들어간다 

df_raw.melt(id_vars=['국가(대륙)별', '상품군별', '판매유형별'])

      국가(대륙)별          상품군별   판매유형별  variable   value
0          합계            합계       계  2014 1/4  148272
1          합계            합계     면세점  2014 1/4       -
2          합계            합계  면세점 이외  2014 1/4       -
3          합계    컴퓨터 및 주변기기       계  2014 1/4    4915
4          합계    컴퓨터 및 주변기기     면세점  2014 1/4       -
...       ...           ...     ...       ...     ...
10795      기타  생활용품 및 자동차용품     면세점  2019 4/4       0
10796      기타  생활용품 및 자동차용품  면세점 이외  2019 4/4     531
10797      기타           기 타       계  2019 4/4    1094
10798      기타           기 타     면세점  2019 4/4       1
10799      기타           기 타  면세점 이외  2019 4/4    1093

[10800 rows x 5 columns]

In [18]:
df=df_raw.melt(id_vars=['국가(대륙)별', '상품군별', '판매유형별'], var_name="기간", value_name="백만원")
df

      국가(대륙)별          상품군별   판매유형별        기간     백만원
0          합계            합계       계  2014 1/4  148272
1          합계            합계     면세점  2014 1/4       -
2          합계            합계  면세점 이외  2014 1/4       -
3          합계    컴퓨터 및 주변기기       계  2014 1/4    4915
4          합계    컴퓨터 및 주변기기     면세점  2014 1/4       -
...       ...           ...     ...       ...     ...
10795      기타  생활용품 및 자동차용품     면세점  2019 4/4       0
10796      기타  생활용품 및 자동차용품  면세점 이외  2019 4/4     531
10797      기타           기 타       계  2019 4/4    1094
10798      기타           기 타     면세점  2019 4/4       1
10799      기타           기 타  면세점 이외  2019 4/4    1093

[10800 rows x 5 columns]

# 데이터 전처리

## 기간에서 연도와 분기를 분리하기

In [28]:
df["기간"]

print("2019 4/4".split())
print("2019 4/4".split()[0])
print(type("2019 4/4".split()[0]))
int("2019 4/4".split()[0])

['2019', '4/4']
2019
<class 'str'>

2019

In [36]:
# 기간에서 연도를 분리하여 수치형 데이터로 만들고, 연도 컬럼을 만들어 넣기

df["연도"] = df["기간"].map(lambda x : int(x.split()[0]))
df

      국가(대륙)별          상품군별   판매유형별        기간     백만원    연도
0          합계            합계       계  2014 1/4  148272  2014
1          합계            합계     면세점  2014 1/4       -  2014
2          합계            합계  면세점 이외  2014 1/4       -  2014
3          합계    컴퓨터 및 주변기기       계  2014 1/4    4915  2014
4          합계    컴퓨터 및 주변기기     면세점  2014 1/4       -  2014
...       ...           ...     ...       ...     ...   ...
10795      기타  생활용품 및 자동차용품     면세점  2019 4/4       0  2019
10796      기타  생활용품 및 자동차용품  면세점 이외  2019 4/4     531  2019
10797      기타           기 타       계  2019 4/4    1094  2019
10798      기타           기 타     면세점  2019 4/4       1  2019
10799      기타           기 타  면세점 이외  2019 4/4    1093  2019

[10800 rows x 6 columns]

In [43]:
df["기간"]

print("2019 4/4".split()[1].split("/")[0])
print(type("2019 4/4".split()[1].split("/")[0]))
int("2019 4/4".split()[1].split("/")[0])

4
<class 'str'>

4

In [46]:
# 기간에서 분기를 분리하여 수치형 데이터로 만들고, 분기 컬럼을 만들어 넣기

df["분기"] = df["기간"].map(lambda x : int(x.split()[1].split("/")[0]))
df

      국가(대륙)별          상품군별   판매유형별        기간     백만원    연도  분기
0          합계            합계       계  2014 1/4  148272  2014   1
1          합계            합계     면세점  2014 1/4       -  2014   1
2          합계            합계  면세점 이외  2014 1/4       -  2014   1
3          합계    컴퓨터 및 주변기기       계  2014 1/4    4915  2014   1
4          합계    컴퓨터 및 주변기기     면세점  2014 1/4       -  2014   1
...       ...           ...     ...       ...     ...   ...  ..
10795      기타  생활용품 및 자동차용품     면세점  2019 4/4       0  2019   4
10796      기타  생활용품 및 자동차용품  면세점 이외  2019 4/4     531  2019   4
10797      기타           기 타       계  2019 4/4    1094  2019   4
10798      기타           기 타     면세점  2019 4/4       1  2019   4
10799      기타           기 타  면세점 이외  2019 4/4    1093  2019   4

[10800 rows x 7 columns]

## 금액을 수치데이터로 표현하기 위해 데이터 타입 변경하기

In [51]:
# "-" 문자를 결측치로 변경하고 float 타입으로 변경하기

df["백만원"] = df["백만원"].replace("-", pd.np.nan).astype(float)
df

<ipython-input-51-0dc67ab86421>:3: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  df["백만원"] = df["백만원"].replace("-", pd.np.nan).astype(float)

      국가(대륙)별          상품군별   판매유형별        기간       백만원    연도  분기
0          합계            합계       계  2014 1/4  148272.0  2014   1
1          합계            합계     면세점  2014 1/4       NaN  2014   1
2          합계            합계  면세점 이외  2014 1/4       NaN  2014   1
3          합계    컴퓨터 및 주변기기       계  2014 1/4    4915.0  2014   1
4          합계    컴퓨터 및 주변기기     면세점  2014 1/4       NaN  2014   1
...       ...           ...     ...       ...       ...   ...  ..
10795      기타  생활용품 및 자동차용품     면세점  2019 4/4       0.0  2019   4
10796      기타  생활용품 및 자동차용품  면세점 이외  2019 4/4     531.0  2019   4
10797      기타           기 타       계  2019 4/4    1094.0  2019   4
10798      기타           기 타     면세점  2019 4/4       1.0  2019   4
10799      기타           기 타  면세점 이외  2019 4/4    1093.0  2019   4

[10800 rows x 7 columns]

## 필요없는 데이터 제거하기

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10800 entries, 0 to 10799
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   국가(대륙)별  10800 non-null  object
 1   상품군별     10800 non-null  object
 2   판매유형별    10800 non-null  object
 3   기간       10800 non-null  object
 4   백만원      7200 non-null   float64
 5   연도       10800 non-null  int64
 6   분기       10800 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 590.8+ KB

In [54]:
# 합계 데이터는 따로 구할 수 있기 때문에 전체 데이터에서 제거합니다

df.columns
df = df[(df["국가(대륙)별"] != "합계") & (df["상품군별"] != "합계")].copy()

In [55]:
# info로 정보보기

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9072 entries, 48 to 10799
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   국가(대륙)별  9072 non-null   object
 1   상품군별     9072 non-null   object
 2   판매유형별    9072 non-null   object
 3   기간       9072 non-null   object
 4   백만원      6048 non-null   float64
 5   연도       9072 non-null   int64
 6   분기       9072 non-null   int64
dtypes: float64(1), int64(2), object(4)
memory usage: 567.0+ KB

In [57]:
# 결측치 보기 

df.isnull().sum()

국가(대륙)별       0
상품군별          0
판매유형별         0
기간            0
백만원        3024
연도            0
분기            0
dtype: int64